@model DataLib.Entities.Example
@{
    ViewData["Title"] = "API";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <td>Order ID</td>
            <td>Amount</td>
            <td>Responce Code</td>
            <td>Responce Description</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ICS_DATA)
        {

            <tr>
                <td>@item.DATA.BODY_NUM</td>
                <td>@item.DATA.SEQ_NUM</td>
                <td>@item.DATA.CONDITIONS</td>
                <td>@item.DATA.OUTSIDE</td>
            </tr>
        }
    </tbody>
</table>
